@font-face {
    font-family: 'Foco Trial';
    font-style: normal;
    font-weight: 400;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_Rg.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: italic;
    font-weight: 400;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_It.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: normal;
    font-weight: 300;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_Lt.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: italic;
    font-weight: 300;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_LtIt.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: normal;
    font-weight: 700;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_Bd.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: italic;
    font-weight: 700;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_BdIt.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: normal;
    font-weight: 900;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_Blk.woff') format('woff');
}
@font-face {
    font-family: 'Foco Trial';
    font-style: italic;
    font-weight: 900;
    src: local('Foco Trial'), url('https://fonts.cdnfonts.com/s/83793/Foco_Trial_BlkIt.woff') format('woff');
}

