@font-face {
    font-family: 'Zacbel X';
    font-style: normal;
    font-weight: 0;
    src: local('Zacbel X'), url('https://fonts.cdnfonts.com/s/83998/zacbelx-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Zacbel X Medium';
    font-style: normal;
    font-weight: 0;
    src: local('Zacbel X Medium'), url('https://fonts.cdnfonts.com/s/83998/zacbelx-medium.woff') format('woff');
}

